.database-card {
    background-color: #f3f3f3;
}

.expanded-section {
    width: 1000%;
}

.no-hover:hover {
    display: none !important;
}

.plus-icon {
    --sds-c-icon-color-foreground-default: white !important;
}

.no-records {
    padding: 0.5rem !important;
}

.no-box-borders {
    border-radius: 0% !important;
}

.label-wrap {
    max-width: 150px;
    white-space: normal;
    word-break: break-word;
}

.label-wrap-less {
    max-width: 200px;
    white-space: normal;
    word-break: break-word;
    width: 60% !important;
}

.wrap-label-value {
    max-width: 150px;
    white-space: normal;
    word-break: break-word;
}

.less-horizontal-width {
    width: 40% !important;
}