.card-background {
    background-color: #f3f3f3;
    border-radius: 0.5rem;
    padding: 1em !important;
}

.version-expand-icon {
    margin-left: 5em;
}

.critical-priority {
    background-color: #fef1ee;
}

.high-priority {
    background-color: #ebf7e6;
}

.critical-icon {
    --slds-c-icon-color-foreground-default: #8e030f;
}

.high-icon {
    --slds-c-icon-color-foreground-default: #194e31;
}

.task-number {
    margin-left: 8px;
}

.no-subtasks {
    margin-left: 22px;
}

.subtask-number {
    margin-left: 20px;
}