.critical-priority {
    background-color: #fef1ee;
}

.high-priority {
    background-color: #ebf7e6;
}

.critical-icon {
    --slds-c-icon-color-foreground-default: #8e030f;
}

.high-icon {
    --slds-c-icon-color-foreground-default: #194e31;
}