.card-background {
    background-color: #f3f3f3;
    border-radius: 0.5rem;
    padding: 1em !important;
}

.version-expand-icon {
    margin-left: 5em;
}

.critical-priority {
    background-color: #fef1ee;
    transition: background-color 0.3s ease;
}

.critical-priority:hover {
    background-color: #fee8e5;
}

.high-priority {
    background-color: #ebf7e6;
    transition: background-color 0.3s ease;
}

.high-priority:hover {
    background-color: #e2f0d9;
}

.normal-priority {
    background-color: #ffffff;
    transition: background-color 0.3s ease;
}

.normal-priority:hover {
    background-color: #eaeaea;
}


.critical-icon {
    --slds-c-icon-color-foreground-default: #8e030f;
}

.high-icon {
    --slds-c-icon-color-foreground-default: #194e31;
}

.task-number {
    margin-left: 8px;
}

.no-subtasks {
    margin-left: 22px;
}

.subtask-number {
    margin-left: 20px;
}

table tr:hover td { 
    background-color: inherit;     
    opacity: 1.0;
}