.card-background {
    background-color: #f3f3f3;
    border-radius: 0.5rem;
    padding: 1em !important;
}

.version-expand-icon {
    margin-left: 5em;
}

.highlighted-row {
    background-color: #fedfd0;
}

.icon-important {
    --slds-c-icon-color-foreground-default: #5f3e02;
}

.icon-default {
    --slds-c-icon-color-foreground-default: #c9c9c9;
}