/* Container for the layout */
.custom-container {
    display: flex;
    flex-wrap: nowrap;
}

/* Sidebar styling */
.custom-sidebar {
    position: sticky;
    top: 0;
    width: 15%;
    max-height: 100vh;
    overflow-y: auto;
}

/* Main content styling */
.custom-main-content {
    flex-grow: 1;
    overflow: hidden;
}

/* Inline modal styling */
.inline-modal {
    padding: 1rem;
    border-radius: .25rem;
    background: white;
    box-shadow: 0 2px 2px rgba(0, 0, 0, .1);
    max-height: 90vh;
    overflow-y: auto;
}