.task-card {
    background-color: #f3f3f3 !important;
}

.details-card {
    background-color: #ffffff !important;
}

.no-box-borders {
    border-radius: 0% !important;
}

.detail-item {
    display: flex;
    align-items: center;
    margin-top: 10px;
}
.detail-item strong {
    flex: 0 0 120px; /* adjust this width as needed */
}