.card-background {
    background-color: #f3f3f3;
    padding: 1em !important;
    border-radius: 0.5em !important;
}

.container-background {
    background-color: #ffffff !important;
    border-radius: 0.5em !important;
}